In [15]:
import pandas as pd

In [62]:
# Store the CSV you saved created in part one into a DataFrame.
hotel_df = pd.read_csv("data/WeatherPy_vacation.csv")
hotel_df.head()

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Kamariotissa,GR,300.15,scattered clouds,40.48,25.47,Niki Beach
1,11,Castro,BR,297.01,clear sky,-24.79,-50.01,CHACARA BAILLY
2,14,Barcelos,PT,297.59,few clouds,41.54,-8.62,Hotel Do Terço
3,18,Lata,PT,298.15,clear sky,40.16,-8.33,Casa Maquia
4,25,Tamandare,BR,298.81,scattered clouds,-8.76,-35.10,Pousada 100 Passos

In [63]:
df1 = hotel_df.loc[(hotel_df["City"] == "Barcelos")]
df2 = hotel_df.loc[(hotel_df["City"] == 'Sestri Levante')] 
df3 = hotel_df.loc[(hotel_df["City"] == 'Santona')] 
df4 = hotel_df.loc[(hotel_df["City"] == 'Senj')]

In [68]:
hotel_df.set_index("City")

,index,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Kamariotissa,6,GR,300.15,scattered clouds,40.48,25.47,Niki Beach
Castro,11,BR,297.01,clear sky,-24.79,-50.01,CHACARA BAILLY
Barcelos,14,PT,297.59,few clouds,41.54,-8.62,Hotel Do Terço
Lata,18,PT,298.15,clear sky,40.16,-8.33,Casa Maquia
Tamandare,25,BR,298.81,scattered clouds,-8.76,-35.10,Pousada 100 Passos
...,...,...,...,...,...,...,...
Wajima,543,JP,300.64,clear sky,37.40,136.90,Wajiima Onsen Yashio
Sur,544,OM,302.22,broken clouds,22.57,59.53,Sur Plaza Hotel
Dobric,545,RS,297.59,broken clouds,44.70,19.58,Stari lipolist
Sarangani,549,PH,301.55,overcast clouds,5.40,125.46,Ballistic Islet
Senj,552,HR,299.15,scattered clouds,44.99,14.91,Roza Guest House

In [ ]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
raining = to_bool(input("Do you want it to be raining? (yes/no) "))
snowing = to_bool(input("Do you want it to be snowing? (yes/no) "))

In [ ]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(hotel_df["Max Temp"] <= max_temp) & \
                                       (hotel_df["Max Temp"] >= min_temp) & \
                                       (hotel_df["Rain (inches)"] == raining) & \
                                       (hotel_df["Snow (inches)"] == snowing)]
preferred_cities_df.head(10)

In [ ]:
fig = gmaps.figure()
geneva2zurich_via_montreux = gmaps.directions_layer(
        geneva, zurich, waypoints=[montreux],
        travel_mode='BICYCLING')
fig.add_layer(geneva2zurich_via_montreux)
fig